{% extends 'base.html' %} <!-- Hereda del archivo base.html -->

{% block title %}Relatos - Nütram {% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Todos los relatos</h1>

    <a href="{% url 'nuevo_relato'  %}" class="btn btn-primary btn me-2">Crear un relato</a>

     <!-- Filtro por categoría -->
  <form method="get" class="mb-4 text-center">
    <select name="categoria" class="form-select w-auto d-inline-block" onchange="this.form.submit()">
      <option value="">Todas las categorías</option>
      {% for categoria in categorias %}
        <option value="{{ categoria.id }}" {% if categoria_seleccionada and categoria.id == categoria_seleccionada.id %}selected{% endif %}>
          {{ categoria.nombre }}
        </option>
      {% endfor %}
    </select>
    {% if categoria_seleccionada %}
      <a href="{% url 'relatos' %}" class="btn btn-sm btn-outline-secondary ms-2">Limpiar filtro</a>
    {% endif %}
  </form>

    {% if relatos %}
    <ul>
        {% for relato in relatos %}
        <div class="card mb-4 shadow-sm border-0">
    <div class="card-body">
    <h4 class="card-title text-primary fw-bold">{{ relato.titulo }}</h4>
    <p class="card-text">{{ relato.contenido|truncatewords:30|linebreaks }}</p>

    <!-- Botones -->
    <div class="mt-3">
      <a href="{% url 'detalle_relato' relato.pk %}" class="btn btn-outline-primary btn-sm me-2">
        <i class="bi bi-eye"></i> Leer relato completo
      </a>
      {% if user == relato.autor %}
      <a href="{% url 'editar_relato' relato.pk %}" class="btn btn-outline-success btn-sm me-2">
        <i class="bi bi-pencil"></i> Editar
      </a>
      <a href="{% url 'eliminar_relato' relato.pk %}" class="btn btn-outline-danger btn-sm">
        <i class="bi bi-trash"></i> Eliminar
      </a>
      {% endif %}
    </div>
  </div>

  <div class="card-footer bg-transparent border-0 text-muted small d-flex justify-content-between">
    <span><i class="bi bi-person-circle"></i> {{ relato.autor.username }}</span>
    <span>Creado <i class="bi bi-calendar3"></i> {{ relato.created_at|date:"d/m/Y H:i" }}</span>
    <span>Actualizado <i class="bi bi-calendar3"></i> {{ relato.updated_at|date:"d/m/Y H:i" }}</span>
  </div>
</div>
        {% endfor %}
    </ul>
    {% else %}
    <p>No hay relatos todavía. Crea un relato </p><a class="btn btn-primary" href="{% url 'nuevo_relato' %}">Ir a crear
        relatos</a>
    {% endif %}
    
</div>
{% endblock %}